a {
    text-decoration: none;
}

a:link {
    color: #a8dadc;
}

a:visited {
    color: #a8dadc;
}

a:hover {
    color: dodgerblue;
}
.conteudo {
    align-items: center;
    margin: 0 auto;
    padding: 65px;
    width: 75%;    
}

.footer{
    align-self: center;
    padding: 1px;
    width: 77.1%;
    background-color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
}
