.Content {
    display: flex;
    flex: 1;
    background-color: white;
    color: black;
}

.Content > * {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.titulo {
    background-color: #EEEEEE;
    padding: 10px;
    margin-bottom: 5%;
    color: black;
    text-align: center;
}

.titulo h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.conteudo {
    background-color: #EEEEEE;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    padding: 100px;
    width: 85%; 
    font-family: 'Roboto', sans-serif;
}